@import '../../styles/global.scss';

.home {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.hide {
  display: none;
}

.profile-img__container {
  position: fixed;
}

@media (min-width: 876px) {
  .profile-img__img {
    z-index: 10;
    position: fixed;
    margin-left: 50vw;
    object-fit: cover;
    width: 50vw;
    min-height: 100vh;
    transition: 1s ease-in;
    overflow: hidden;
  }

  .home__glas-container {
    z-index: 10;
    margin: auto auto;
    position: relative;
    min-height: 200px;
    min-width: 800px;
  }
  
  .home__glas-box {
    position: absolute;
    min-height: 200px;
    min-width: 800px;
    border-radius: .75rem;
    background-image: linear-gradient(to left top, #ffffffde, #ffffff4d);
    box-shadow: 0 0 1rem #3d3d3d2c;
    backdrop-filter: blur(2rem);
    opacity: 0;
    transition: 1s ease-out;
    z-index: 10;
  }
}

@media (max-width: 875px) {
  .profile-img__img {
    z-index: 0;
    position: fixed;
    object-fit: cover;
    transition: 1s ease-in;
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
  }

  .home__glas-container {
    z-index: 10;
    margin: auto auto;
    padding: 0;
    min-width: 95%;
    min-height: 200px;
    position: relative;
  }
  
  .home__glas-box {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    border-radius: .75rem;
    background-image: linear-gradient(to left top, #ffffffde, #ffffff4d);
    box-shadow: 0 0 1rem #3d3d3d2c;
    backdrop-filter: blur(2rem);
    opacity: 0;
    transition: 1s ease-out;
  }

  @media (max-width: 600px) {
    .home__glas-container {
      min-height: 120px;
    }
  }
}
