@import '../../styles/global.scss';

//___________________________________keyframes__________________________________//

@keyframes title {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes profileImageBig {
  0% {
    margin-left: 100vw;
  }
}

//_______________________________________________________________________________//

.home {
  position: relative;
  min-height: 100%;
  max-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  background: linear-gradient($mainYellow 2%, $mainLightGreen 98%);
  overflow: hidden;
}

.hide {
  display: none;
}

.title {
  animation-name: title;
  animation-duration: 2s;
}

.imgContainer {
  position: fixed;
}

.profileImageBig {
  animation-name: profileImageBig;
  animation-duration: 1s;
}

@media (min-width: 876px) {
  %textClip {
    background-image: linear-gradient(90deg, #3b5249 50%, $mainLightGreen 50%);
    color: transparent;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    text-align: center;
  }

  %headerBorder {
    content: "";
    position: absolute;
    border-top: 3px solid;
    border-bottom: 3px solid;
    border-left: 3px solid;
    border-radius: 8px 0 0 8px;
    margin-top: -2px;
  }

  .profileImageBig {
    z-index: 10;
    position: fixed;
    margin-left: 50vw;
    object-fit: cover;
    width: 50vw;
    min-height: 100vh;
    overflow: hidden;
  }
  
  .title {
    z-index: 10;
    margin: auto auto;
    min-height: 200px;
    min-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    background-image: linear-gradient(90deg, #3b524900 50%, #161f1b90 50%);
    background-repeat: no-repeat;
    cursor: pointer;
  }

  .titleHeading::before {
    width: 317px;
    height: 99px;
    margin-left: -27px;
    border-color:  $mainDarkGreen;
    @extend %headerBorder;
  }
  
  .titleHeading {
    font-size: 5em;
    font-weight: 100;
    margin: 0;
    padding: 0;
    padding-left: 1.25em;
    @extend %textClip;
  }
  
  .titleDescription {
    margin: 0;
    margin-left: 130px;
    padding: 0;
    color: $mainDarkGreen;
    align-self: flex-start;
    position: absolute;
  }
}

.changeNameButton {
  background-color: transparent;
  border: none;
  width: 100%;
  height: 40vh;
  position: absolute;
}

@media (max-width: 875px) {
  .profileImageBig {
    z-index: 0;
    position: fixed;
    object-fit: cover;
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
  }

  .title {
    z-index: 100;
    min-width: 100%;
    min-height: 200px;
    margin-bottom: -100px;
    padding: 0;
    display: flex;
    align-self: center;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(#161f1b90, #161f1b90);
    background-repeat: no-repeat;
  }

  // .title::after {
  //   content: "";
  //   position: absolute;
  //   border: 2px solid #a8ffdf;
  //   border-radius: 8px;
  //   height: 90px;
  //   margin-top: 36px;
  //   width: 611px;
  // }

  // .titleHeading {
  //   font-size: 4em;
  //   margin: 0;
  //   color: #a8ffdf;
  //   text-align: center;
  // }

  .titleDescription {
    position: absolute;
    margin: 0;
    padding: 0;
    font-size: 1.2em;
    margin-top: 25px;
    color: #a8ffdf;
    text-align: center;
  }
}

@media (max-width: 675px) {
  .title::after {
    height: 60px;
    margin-top: 27px;
    width: 354px;
  }

  // .titleHeading {
  //   font-size: 2.2em;
  // }
}

@media (max-width: 500px) {
  .title {
    background-size: 100% 60%;
    background-position: center;
  }

  .titleDescription {
    margin-top: 60px;
    font-size: 14px;
  }

  // .titleHeading {
  //   font-size: 2.2em;
  // }
}

@media (max-width: 375px) {
  .title::after {
    height: 45px;
    margin-top: 30px;
    width: 285px;
  }

  // .titleHeading {
  //   font-size: 1.8em;
  // }
}

@media (max-width: 295px) {
  .title::after {
    display: none;
  }

  .titleHeading {
    font-size: 1.5em;
  }

  .titleDescription {
    font-size: 1em;
  }
}