@import '../../styles/global.scss';

.guestBookContainer {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #3b5249;
  background: linear-gradient($mainYellow 2%, $mainLightGreen 98%);
}

.guestBook {
  display: flex;
  padding: 0 5%;
}

.fadeListBottom {
  position: fixed;
  width: 100%;
  height: 30%;
  bottom: 0;
  background-image: linear-gradient(#a8ffdf00 2%, #a8ffdfd2 98%);
  pointer-events: none;
}

.guestBook h1 {
  text-align: center;
  padding: 0 6%;
}

.guestBook input,
.guestBook textarea,
.guestBook button {
  outline: none;
}

.guestBookForm {
  border-radius: 2px;
  background-color: #ffffff67;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 10px #c5c5c585;
  z-index: 100;
}

.guestBookForm label {
  width: 270px;
  text-align: left;
  margin-top: 5%;
}

.guestBookForm input,
.guestBookForm textarea,
.guestBookForm button[type='submit'] {
  border: none;
  border-radius: 2px;
  width: 250px;
  padding: 10px;
  margin: 3% 0;
  box-shadow: 0 0 5px #c5c5c585;
  border-radius: 5px;
}

.guestBook textarea {
  resize: none;
}

#sendMessage {
  background-color: #3b5249;
  color: white;
  font-size: 16px;
  width: 270px;
}

.guestBook .messages {
  transition: 2s;
  animation-name: messages;
  animation-duration: 2s;
}

@keyframes messages {
  from {
    opacity: 0;
    margin-left: 10%;
  }
  to {
    opacity: 1;
  }
}

.guestBook .messages ul {
  animation-name: messagesLi;
  animation-duration: 1s;
}

.guestBook .messages li {
  list-style: none;
  margin-bottom: 40px;
}

.guestBook .messages li h2 {
  margin-top: 0;
  margin-bottom: 5px;
}

.localPreview {
  margin-left: 10px;
  font-size: 14px;
}

@media (min-width: 1001px) {
  .guestBook {
    max-width: 1200px;
    padding-top: 170px;
    justify-content: space-around;
    align-items: flex-start;
  }

  .guestBookForm {
    padding: 40px;
    max-width: 400px;
    max-height: 450px;
    margin: 0 !important;
    display: flex;
    align-items: center;
    top: 170px;
    position: sticky;
    border-radius: 8px;
  }

  .guestBook .messages {
    width: 40%;
  }

  .mobileMessageButton {
    display: none;
  }

  .cancelFormButton {
    display: none;
  }
}

@media (max-width: 1000px) {
  .guestBook {
    flex-direction: column;
  }

  .showGuestBookForm {
    align-self: center;
    margin-top: 100px;
    max-width: 680px;
    padding: 0 20px;
    padding-bottom: 30px;
    animation: 1s ease-out;
    animation-name: showGuestBookForm;
  }

  @keyframes showGuestBookForm {
    0% {
      margin-top: -400px;
    }
    100% {
      margin-top: 100px;
    }
  }

  .cancelFormButton {
    align-self: flex-end;
    padding: 10px;
    margin-right: -20px;
    width: 40px;
    font-size: 20px;
    background-color: transparent;
    color: #3b5249;
    border: none;
    -webkit-tap-highlight-color: #00000000;
  }

  .hideGuestBookForm {
    align-self: center;
    margin-top: -500px;
    max-width: 680px;
    padding-bottom: 30px;
    transition: 1s ease-in;
    animation-name: hideGuestBookForm;
  }

  @keyframes hideGuestBookForm {
    0% {
      margin-top: 100px;
    }
    100% {
      margin-top: -500px;
    }
  }

  .showFormButton {
    transition: 1s;
    -webkit-tap-highlight-color: #00000000;
  }

  .showGuestBookForm .showFormButton {
    opacity: 0;
  }

  .hideGuestBookForm .showFormButton {
    opacity: 1;
  }

  .guestBook .messages {
    margin-top: 50px;
    max-width: 680px;
    align-self: center;
    justify-self: center;
  }

  .fadeListTop {
    display: none;
  }

  .guestBook .messages ul {
    min-height: 100%;
  }

  .mobileMessageButton {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 100px;
  }

  .mobileMessageButton button {
    border: none;
    background-color: #ffffff83;
    padding: 3% 5%;
    width: 100%;
    max-width: 680px;
    border-radius: 2px;
    box-shadow: 0 0 10px #dbdada;
    font-size: 1.8em;
    font-family: 'quicksand';
    color: #3b5249;
  }

  @media (max-width: 320px) {
    .guestBook h1 {
      font-size: 1.5em;
    }
  }
}

@media (min-width: 1000px) and (max-height: 720px) {
  .guestBook h1 {
    font-size: 1.5em;
    padding: 0 2%;
  }

  .guestBookForm {
    max-height: 350px;
  }
}