.wineApp {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  text-align: center;
  font-family: 'Cormorant Garamond', serif;
}

.wineApp button {
  outline: none;
  cursor: pointer;
}

.wineApp input {
  outline: none;
}

.wineApp .header {
  font-family: 'Dancing Script', cursive;
  font-size: 50px;
  margin: 60px;
  margin-top: 120px;
}

.doNotDisplay {
  display: none;
}

.wineModal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
  width: 100%;
  min-width: 100%;
  min-height: 100vh;
  background-color: #00000075;
}

.wineForm {
  width: 50%;
  height: 60%;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
  align-items: center;
  justify-content: center;
  border: solid 1px gray;
  border-radius: 20px;
  z-index: 200;
  background-color: #ffffff;
  overflow: hidden;
  animation: wineModal 1s;
}

@keyframes wineModal {
  from {
    transform: scale(.8);
  }
  to {
    transform: scale(1);
  }
}

.saveFormContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  width: 30%;
  height: 30px;
}

.saveFormContainer input[type="checkbox"] {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border-radius: 50%;
}

.saveFormContainer input[type="checkbox"]:checked {
  background-color: #00b386;
  border-color: #00b386;
}

.wineApp form input,
form button {
  width: 50%;
  border-radius: 20px;
  margin: 10px;
  height: 35px;
}

.wineApp form input {
  padding: 0 10px;
  border: solid 1px grey;
}

.wineApp form button[type="submit"] {
  margin-top: 40px;
  width: 30%;
  height: 40px;
  background-color: #fff;
  border: none;
  font-size: 14px;
  box-shadow: 0 0 7px #cccccc;
}

.wineApp form button[type="submit"]:hover {
  box-shadow: 0 0 4px #cccccc;
}

.wineApp .cancelButton {
  width: 30px;
  height: 30px;
  align-self: flex-end;
  background-color: transparent;
  color: #550000;
  border: solid 1px grey;
  border-radius: 50%;
}

.wineGrid {
  position: relative;
  width: 100%;
  height: auto;
  margin: 2%;
  display: flex;
  align-self: center;
  justify-self: center;
  justify-content: center;
  flex-wrap: wrap;
}

.showForm {
  position: relative;
  width: 10%;
  max-width: 10%;
  height: 250px;
  max-height: 250px;
  margin: .25%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: .5%;
  background: linear-gradient(#ebebeb, #ececec);
  animation-name: showForm;
  animation-duration: 1s;
}

@keyframes showForm {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.showForm:hover {
  background: linear-gradient(#dfdfdf, #d3d3d3);
}

.wineApp .card {
  position: relative;
  width: 10%;
  max-width: 10%;
  height: 250px;
  max-height: 250px;
  margin: .25%;
  border-radius: 20px;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: .5%;
  background:linear-gradient(#7c0000, #550000);
  cursor: pointer;
  animation-name: card;
  animation-duration: 1s;
  overflow-y: scroll;
  overflow-x: hidden;
}

@keyframes card {
  from {
    opacity: .3;
  }
  to {
    opacity: 1;
  }
}

.showForm button {
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: transparent;
  border: none;
  color: #ffffff;
}

.cardHeader {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 10%;
}

.showForm .cardPosition {
  text-align: left;
  color: #707070;
}

.cardPosition {
  text-align: left;
  color: #ffffff9f;
  font-size: 18px;
  margin-left: 10px;
}

.card h1 {
  width: 100%;
  font-size: 25px;
  margin: 40px 0 5px 0;
  flex-wrap: wrap;
  word-wrap: break-word;
}

.card h4 {
  width: 100%;
  font-size: 20px;
  margin: 5px 0 5px 0;
}

.wineYear {
  font-size: 18px;
  margin: 5px 0;
}

@media (max-width: 1260px) {
  .card h1 {
    font-size: 20px;
    margin: 5x 0 5px 0;
  }
  
  .card h4 {
    font-size: 16px;
    margin: 5px 0;
  }
  
  .wineYear {
    font-size: 16px;
    margin: 5px 0;
  }
}

@media (min-width: 405px) {
  .showForm button {
    font-size: 50px;
  }
}

@media (max-width: 405px) {
  .showForm button {
    font-size: 30px;
  }

  .showForm .cardPosition {
    align-self: center;
  }
}

.removeButton {
  width: 30%;
  height: 40px;
  border: none;
  background-color: #7c0000;
  color: #ffffffd5;
  font-size: 14px;
}

.removeButton:hover {
  color: #fff;
}
