@import './global.scss';

// keyframes
@keyframes blob {
  0% {
    fill: #ffffffd7;
  }

  50% {
    fill: #ffffff4d;
  }

  100% {
    fill: #ffffffd7;
  }
}

//===============================//


.aboutContainer {
  min-height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  color: #3b5249;
  background: linear-gradient($mainYellow 2%, #ccffff);
  overflow: hidden;
}

.about {
  margin-top: 130px;
  padding-bottom: 25%;
}

.about h1 {
  padding-bottom: 50px;
}

.aboutListContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutListContainer ul {
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 20;
}

.skillBall {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10%;
  border-radius: 50%;
  width: 280px;
  height: 280px;
  background-color: #ffffff00;
}

.skillBall:nth-child(even) {
  text-align: right;
}

.skillBall:nth-child(odd) {
  text-align: left;
}

.skillBall:nth-child(1) .reactBlob path {
  animation-delay: 1s;
}

.skillBall:nth-child(2) .reactBlob path {
  animation-delay: 2s;
}

.reactBlobContainer {
  position: absolute;
  pointer-events: none;
  z-index: 0;
}

.reactBlob {
  pointer-events: none;
  overflow: hidden;
  padding-top: 10%;
}

.reactBlob path {
  animation: blob 3s ease infinite;
}

@media (min-width: 801px) {
  .about h1 {
    font-size: 4em;
    text-align: left;
  }

  .skillBall {
    font-size: 1.2em;
  }

  .skillBall:nth-child(even) {
    margin-left: -50%;
  }

  .skillBall:nth-child(odd) {
    margin-left: 50%;
  }

  .reactBlob {
    width: 100%;
    transform: scale(2);
  }
}


@media (max-width: 800px) {
  .about h1 {
    margin-top: 0;
    font-size: 3em;
    text-align: center;
  }

  .skillBall {
    font-size: 1em;
  }

  .reactBlob {
    width: 100%;
    transform: scale(1.7);
  }
}