@import './global.scss';

// keyframes
@keyframes blob {
  0% {
    fill: #ffffffcb;
  }

  50% {
    fill: #ffffff73;
  }

  100% {
    fill: #ffffffcb;
  }
}

//===============================//


.aboutContainer {
  min-height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  color: #3b5249;
  background: linear-gradient($mainYellow 2%, #a8eeff);
  overflow-x: hidden;
}

.about {
  margin-top: 130px;
  padding-bottom: 25%;
}

.about h1 {
  padding-bottom: 50px;
}

.aboutListContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutListContainer ul {
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 20;
}

.skillBall {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10%;
  border-radius: 50%;
  width: 280px;
  height: 280px;
  background-color: #ffffff00;
}

.reactBlobContainer {
  position: absolute;
  z-index: 10;
}

.reactBlob path {
  animation: blob 3s ease infinite;
}

@media (min-width: 801px) {
  .about h1 {
    font-size: 4em;
    text-align: left;
  }

  .skillBall:nth-child(even) {
    margin-left: -30%;
  }

  .skillBall:nth-child(odd) {
    margin-left: 30%;
  }

  .reactBlob {
    width: 200%;
    margin-left: -40%;
    padding-top: 10%;
  }
}


@media (max-width: 800px) {
  .about h1 {
    margin-top: 0;
    font-size: 3em;
    text-align: center;
  }

  .reactBlob {
    width: 170%;
    margin-left: -35%;
    padding-top: 10%;
  }
}