@import './global.scss';

//===========================KEYFRAMES===========================//

@keyframes messages {
  from {
    opacity: 0;
    margin-left: 10%;
  }
  to {
    opacity: 1;
  }
}

@keyframes showGuestBookForm {
  0% {
    margin-top: -75vh;
  }
  100% {
    margin-top: 120px;
  }
}

@keyframes hideGuestBookForm {
  0% {
    margin-top: 150px;
  }
  100% {
    margin-top: -75vh;
  }
}

//===============================================================//

// .displayNoneClass{
//   display: none !important;
// }

.showGuestBookForm {
  align-self: center;
  margin-top: 120px;
  animation: .5s ease-out;
  animation-name: showGuestBookForm;
}

.cancelFormButton {
  align-self: flex-end;
  padding: 10px;
  margin-right: -20px;
  width: 40px;
  font-size: 20px;
  background-color: transparent;
  color: #3b5249;
  border: none;
  -webkit-tap-highlight-color: #00000000;
}

.hideGuestBookForm {
  align-self: center;
  margin-top: -75vh;
  padding: 0 20px;
  padding-bottom: 30px;
  animation: .5s ease-out;
  animation-name: hideGuestBookForm;
}

.showFormButton {
  transition: 1s;
  -webkit-tap-highlight-color: #00000000;
}

.showGuestBookForm .showFormButton {
  opacity: 0;
}

.hideGuestBookForm .showFormButton {
  opacity: 1;
}

.fadeListTop {
  display: none;
}

.mobileMessageButton {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 50px;
}

.mobileMessageButton button {
  background-color: #ffffffaf;
  border-radius: .75rem;
  padding: 1em;
  width: 90vw;
  max-width: 680px;
  box-shadow: 0 0 10px #dfdfdf;
  font-size: 1.7em;
  font-family: 'Sofia Pro Light';
  color: #3b5249;
  z-index: 10;
}

.guestbook {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
  color: #3b5249;
}

.guestbook-title {
  margin-top: 5px !important;
}

.bread-text--standard.guestbook-form__title-span {
  margin-top: 40px;
}

.fadeListBottom {
  position: fixed;
  width: 100%;
  height: 20%;
  bottom: 0;
  background-image: linear-gradient(#a8ffdf00 2%, #ffffffd2 98%);
  pointer-events: none;
}

.guestBook input,
.guestBook textarea,
.guestBook button {
  outline: none;
}

.guestbook-form {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: .75rem;
  background: linear-gradient(white, #ffffff80);
  backdrop-filter: blur(2rem);
  box-shadow: 0 0 10px $boxShadow;
  width: 300px;
  padding: 0 20px;
  padding-bottom: 30px;
  z-index: 100;
}

.guestbook-form label {
  text-align: left;
}

.guestbook-form input,
.guestbook-form textarea,
.guestbook-form button[type='submit'] {
  border: none;
  height: 40px;
  width: 95%;
  padding: 1em;
  margin: 0;
  margin-top: 1em;
  margin-bottom: 2em;
  box-shadow: 0 0 3px #0000000a;
  border: 1px solid #0000001a;
  border-radius: .75rem;
}

.guestBook textarea {
  resize: none;
}

#sendMessage {
  background-color: #3b5249;
  color: white;
  font-size: 1rem;
  height: 40px;
  width: 10em;
  padding: 0;
  margin-top: 3em;
}

.guestbook-form__error-message {
  color: grey;
  font-size: .8rem;
}

.guestbook__messages-wrapper {
  margin: 0 auto;
  margin-top: 130px;
  max-width: 680px;
  min-width: 100%;
  justify-self: center;
  transition: 2s;
}

.guestbook__messages-ul {
  padding: 0 50px;
  padding-bottom: 200px;
}

.guestbook__messages-li {
  list-style: none;
  margin-bottom: 80px;
  animation-duration: 1s;
  animation-name: messages;
}

.message__name-p {
  font-size: 1rem;
  font-family: Sofia Pro ExtraLight;
  margin-bottom: 10px;
  color: #4c695e;
}

.message__body-p {
  font-size: 1.7rem;
  font-family: Sofia Pro Light;
  line-height: 3rem;
  color: #4c695e;
}

.message__emphasize-container {
  position: relative;
  display: inline-block;
}

.message__emphasize-span {
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: 'Bebas Neue', cursive;
  color: $lightFontColor;
  transition: transform .5s;
}

.is-visible .message__emphasize-span {
  animation-name: emphasize;
  animation-duration: .5s;
}

@keyframes emphasize {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(.9);
  }
  80% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}

.message__emphasize-placeholder {
  font-family: 'Bebas Neue', cursive;
  opacity: 0;
}

@media (min-width: 1001px) {
  .guestbook {
    display: grid;
    margin: 0 auto;
    padding: 0 100px;
    grid-template-columns: 1fr 1fr;
    max-width: 1200px;
    padding-top: 170px;
  }

  .guestbook-form {
    top: 170px;
    position: sticky;
    max-height: 400px;
    margin: 0;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: flex-end;
    align-self: flex-start;
    z-index: 100;
  }

  .guestbook__messages-wrapper  {
    justify-self: center;
    margin: 0 auto;
    margin-top: 0;
    max-width: 680px;
    transition: 2s;
  }

  .guestbook__messages-ul {
    padding-right: 50px;
  }

  .mobileMessageButton {
    display: none;
  }

  .cancelFormButton {
    display: none;
  }

  .hideGuestBookForm {
    animation: 0s;
    animation-name: none;
  }
}

@media (max-width: 320px) {
  .guestbook-title {
    font-size: 2.5rem !important;
  }

  .guestBook .messages ul {
    padding: 0 20px;
  }

  .guestbook-form button {
    max-width: 270px;
  }
}