@import './global.scss';

//===========================KEYFRAMES===========================//

@keyframes messages {
  from {
    opacity: 0;
    margin-left: 10%;
  }
  to {
    opacity: 1;
  }
}

//===============================================================//

.guestBookContainer {
  min-height: 100%;
  width: 100%;
  color: #3b5249;
  background: linear-gradient($mainYellow 2%, $mainLightGreen 98%);
}

.guestBook {
  display: flex;
}

.guestbook-title {
  margin: 0 auto;
  margin-bottom: 0;
}

.bread-text--standard.guestbook-form__title-span {
  margin-top: 40px;
  font-family: 'Kalam', cursive;
  font-size: 1.3rem;
}

.fadeListBottom {
  position: fixed;
  width: 100%;
  height: 30%;
  bottom: 0;
  background-image: linear-gradient(#a8ffdf00 2%, #a8ffdfd2 98%);
  pointer-events: none;
}

.guestBook input,
.guestBook textarea,
.guestBook button {
  outline: none;
}

.guestBookForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 0;
  border-radius: .75rem;
  background: linear-gradient(white, #ffffff80);
  backdrop-filter: blur(2rem);
  box-shadow: 0 0 10px #c5c5c585;
  z-index: 100;
}

.guestBookForm label {
  width: 270px;
  text-align: left;
  margin-top: 5%;
}

.guestBookForm input,
.guestBookForm textarea,
.guestBookForm button[type='submit'] {
  border: none;
  width: 270px;
  padding: 10px;
  margin: 0;
  margin-top: 15px;
  box-shadow: 0 0 5px #c5c5c585;
  border-radius: .75rem;
}

.guestBook textarea {
  resize: none;
}

#sendMessage {
  background-color: #3b5249;
  color: white;
  font-size: 1rem;
  width: 290px;
  height: 40px;
  margin-top: 40px;
  padding: 0;
}

.guestBook .messages {
  transition: 2s;
}

.guestBook .messages ul {
  padding: 0 50px;
  padding-bottom: 100px;
}

.guestBook .messages li {
  list-style: none;
  margin-bottom: 80px;
  animation-duration: 1s;
  animation-name: messages;
}

.message__name-p {
  font-size: 1rem;
  font-family: Sofia Pro ExtraLight;
  margin-bottom: 10px;
  color: #4c695e;
}

.message__body-p {
  font-size: 1.7rem;
  font-family: Sofia Pro Light;
  line-height: 3rem;
  color: #4c695e;
}

.message__emphasize-container {
  position: relative;
  display: inline-block;
}

.message__emphasize-span {
  position: absolute;
  font-size: 3rem;
  left: 0;
  bottom: 0;
  font-family: 'Kalam', cursive;
  color: $lightFontColor;
  transition: font-size .5s;
}

.is-visible .message__emphasize-span {
  animation-name: emphasize;
  animation-duration: .5s;
}

@keyframes emphasize {
  0% {
    font-size: 3rem;
  }
  10% {
    font-size: 1.7rem;
  }
  80% {
    font-size: 6rem;
  }
  100% {
    font-size: 3rem;
  }
}

.message__emphasize-placeholder {
  font-size: 2.7rem;
  opacity: 0;
}

@media (min-width: 1001px) {
  .guestBook {
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    max-width: 1200px;
    padding-top: 170px;
  }

  .guestBookForm {
    top: 170px;
    position: sticky;
    max-width: 400px;
    max-height: 300px;
    margin: 0;
    margin-right: 50px;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: flex-end;
    z-index: 100;
  }

  .guestBook .messages {
    justify-self: center;
  }

  .mobileMessageButton {
    display: none;
  }

  .cancelFormButton {
    display: none;
  }
}

@media (max-width: 1000px) {
  .displayNoneClass{
    display: none !important;
  }

  .guestBook {
    flex-direction: column;
  }

  .guestBookForm {
    position: fixed;
  }

  .showGuestBookForm {
    align-self: center;
    margin-top: 150px;
    padding: 0 20px;
    padding-bottom: 30px;
    animation: .5s ease-out;
    animation-name: showGuestBookForm;
  }

  @keyframes showGuestBookForm {
    0% {
      margin-top: -75vh;
    }
    100% {
      margin-top: 150px;
    }
  }

  .cancelFormButton {
    align-self: flex-end;
    padding: 10px;
    margin-right: -20px;
    width: 40px;
    font-size: 20px;
    background-color: transparent;
    color: #3b5249;
    border: none;
    -webkit-tap-highlight-color: #00000000;
  }

  .hideGuestBookForm {
    align-self: center;
    margin-top: -75vh;
    padding: 0 20px;
    padding-bottom: 30px;
    animation: .5s ease-out;
    animation-name: hideGuestBookForm;
  }

  @keyframes hideGuestBookForm {
    0% {
      margin-top: 150px;
    }
    100% {
      margin-top: -75vh;
    }
  }

  .showFormButton {
    transition: 1s;
    -webkit-tap-highlight-color: #00000000;
  }

  .showGuestBookForm .showFormButton {
    opacity: 0;
  }

  .hideGuestBookForm .showFormButton {
    opacity: 1;
  }

  .guestBook .messages {
    margin: 0 auto;
    margin-top: 130px;
    max-width: 680px;
    justify-self: center;
  }

  .fadeListTop {
    display: none;
  }

  .mobileMessageButton {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 50px;
  }

  .mobileMessageButton button {
    background-color: #ffffffaf;
    border-radius: .75rem;
    padding: 20px;
    width: 90%;
    max-width: 680px;
    box-shadow: 0 0 10px #dfdfdf;
    font-size: 1.8em;
    font-family: 'quicksand';
    color: #3b5249;
  }
}

@media (max-width: 320px) {
  .guestBookForm {
    max-width: 280px;
  }

  .guestbook-title {
    font-size: 3.5rem !important;
  }

  .guestBookForm input,
  .guestBookForm textarea {
    max-width: 250px;
  }

  .guestBookForm button {
    max-width: 270px;
  }
}