@import './global.scss';

.navContainer {
  position: fixed;
  z-index: 150;
  width: 100%;
}

.navbar a {
  color: #3b5249;
  text-decoration: none;
  font-family: Sofia Pro ExtraLight;
}

.fadeListTop {
  position: fixed;
  width: 100%;
  height: 15%;
  top: 0;
  background: linear-gradient($mainYellow 45%, #fcdfa600);
  pointer-events: none;
}

@media (min-width: 1001px) {
  .navbar {
    position: fixed;
    height: 130px;
    width: 100%;
    top: 0;
    transition: .3s;
    z-index: 110;
    overflow: hidden;
  }

  .navbar ul {
    z-index: 100;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-left: 0 !important;
    margin: 16px 0;
    padding: 0 2%;
    list-style: none;
  }

  .App .scrollNav {
    top: 0 !important;
    background-color: transparent !important;
  }

  .scrollNav {
    top: -140px !important;
    transition: .3s;
  }
  
  .navbar li {
    position: relative;
    display: flex;
    justify-content: center;
    border-top: 3px solid #00000000;
    padding: 40px 0 0 0;
    text-align: center;
    font-size: 1.1em;
    margin: 0 20px;
    transition: 0.3s;
  }

  @media (hover: hover) and (pointer: fine) {
    .navbar li a:hover {
      color: black;
    }
  }

  .mobileNavButton {
    display: none;
  }

  .navbar__list-item__active-span {
    min-height: 1.5px;
    width: 100%;
    top: -80px;
    position: absolute;
    align-self: center;
    transition: 1s;
    background-color: #3b5249;
    border-radius: 3px;
    z-index: 200;
  }

  .activeTab > .navbar__list-item__active-span {
    top: 10px !important;
    transition: 1s;
  }
}

@media (max-width: 1000px) {
  .navbar {
    position: fixed;
    height: 100%;
    right: 0;
    background-color: #fffffff3 !important;
    box-shadow: 0 0 5px #80808083;
    transition: .5s ease-in-out;
    z-index: 110;
  }
  
  .mobileNavButton {
    position: fixed;
    border: none;
    background-color: transparent;
    align-self: center;
    z-index: 150;
    right: 3%;
    top: 14px;
    -webkit-tap-highlight-color: #00000000;
  }
  
  .mobileNavButton:focus {
    outline: none;
  }
  
  .navbar ul {
    flex-direction: column;
    width: 250px;
    height: 100%;
    padding-top: 20%;
    list-style: none;
    overflow: hidden;
  }

  .activeTabSpan {
    min-height: 2px;
    min-width: 185px;
    opacity: 0;
    position: absolute;
    margin-top: 60px;
    margin-left: 15px;
    background-color: #3b5249;
    border-radius: 3px;
    transition: 1s;
  }

  .activeTabSpan.activeHome {
    margin-top: 100px;
  }
  
  .navbar ul li {
    margin: 40px 0;
    padding: 7%;
    font-size: 1.3em;
  }
  
  #homeLinkMobile {
    display: block;
  }
  
  #homeLink {
    display: none;
  }
}
