@import './global.scss';

.portfolioContainer {
  min-height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  color: #3b5249;
  background: linear-gradient($mainYellow, $mainLightGreen);
}

.fade-in-section {
  width: 100%;
  max-width: 600px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1200ms ease-out, transform 600ms ease-out,
    visibility 1200ms ease-out;
  will-change: opacity, transform, visibility;
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: none !important;
  visibility: visible;
}

.portfolio__header {
  width: 90%;
  max-width: 600px;
  text-align: justify;
}

.portfolio-box__header {
  padding-top: 40px;
  padding-bottom: 20px;
  text-align: center;
  font-family: 'Pacifico', cursive;
  color: $lightFontColor
}

.portfolio-box__bread-text {
  padding: 0 20px;
}

.portfolio {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 130px;
  padding-bottom: 50px;
  overflow: hidden;
}

.projectsContainer {
  width: 90%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timePole {
  min-height: 80px;
  width: 2px;
  background-color: #0000003a;
  border-radius: .75rem;
}

.backToPortfolioLink {
  color: $mainDarkGreen;
  text-decoration: none;
  position: fixed;
  top: 30px;
  left: 5%;
  z-index: 50;
}

.portfolioLink {
  text-decoration: none;
  color: $mainDarkGreen;
}

.portfolioLink a {
  text-decoration: none;
  color: $mainDarkGreen;
}

.portfolioImg {
  position: relative;
  object-fit: cover;
  border-radius: .75rem;
  box-shadow: 0 0 5px #80808063;
  
}

.portfolioLink p {
  text-align: justify;
  margin-top: 7%;
}

.time-pole__p.present {
  margin-bottom: 40px;
}

.time-pole__p.beginning {
  padding-top: 40px;
  padding-bottom: 40px;
}

.fade-in-section:nth-of-type(4n+0) {
  transform: translateX(10vw);
}

.fade-in-section:nth-of-type(4n+2) {
  transform: translateX(-10vw);
}

@media (max-width: 1000px) {
  .timePole {
    margin: 0 auto;
  }

  .portfolio_header {
    width: 80%;
  }

  .portfolioImg {
    width: 100vw;
    max-width: 100%;
  }
}

@media (min-width: 1001px) {
  .portfolio_header {
    width: 50%;
  }

  .portfolioImg {
    width: 100%;
  }

  .portfolio-box__header {
    font-size: 2.5rem;
  }

  .fade-in-section {
    width: 65%;
  }
  
  .fade-in-section:nth-of-type(4n+0) {
    padding-left: 35%;
    transform: translateX(30vw);
  }

  .fade-in-section:nth-of-type(4n+0) > .portfolio_box_header {
    text-align: right;
  }

  .fade-in-section:nth-of-type(4n+2) {
    padding-right: 35%;
    transform: translateX(-30vw);
  }

  .fade-in-section:nth-of-type(4n+2) > .portfolio_box_header {
    text-align: left;
  }
}