@import './global.scss';

.portfolio__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #3b5249;
  background: linear-gradient($mainYellow, $mainLightGreen);
}

.portfolio {
  margin-top: 130px;
  padding: 0 30px;
}

.portfolio__header {
  width: 80%;
  margin: 0 auto;
  max-width: 600px;
  margin-top: 50px;
  text-align: justify;
  align-self: center;
}

.time-pole {
  margin-top: 50px;
  margin-bottom: 30px;
}

.project-box__header {
  padding-top: 40px;
  padding-bottom: 20px;
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  color: $lightFontColor
}

.projects__container {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project__link {
  text-decoration: none;
  color: $mainDarkGreen;
}

.project__img-container {
  position: relative;
  height: 55vmin;
  width: 100%;
  margin: 0 auto;
}

.project__img-frame--desktop {
  position: absolute;
  width: 80%;
  bottom: 0;
  left: 0;
  background: #ffffff77;
  backdrop-filter: blur(1rem);
  box-shadow: 0 0 5px #80808063;
  border-radius: .3rem;
}

.project__img-frame--desktop.no-mobile {
  left: 10%;
}

.project__img-frame--mobile {
  position: absolute;
  width: 90px;
  height: 151px;
  bottom: 0;
  right: 0;
  background: #ffffff77;
  backdrop-filter: blur(1rem);
  box-shadow: 0 0 5px #80808063;
  border-radius: .75rem;
}

.project__desktop-img {
  margin: 3%;
  margin-bottom: 15%;
  object-fit: cover;
  border: 1px solid #00000027;
  border-radius: .2rem;
}

.project__mobile-img {
  position: relative;
  margin: 5%;
  object-fit: cover;
  border: 1px solid #00000027;
  border-radius: 0.5rem;
}

.fade-in-section {
  width: 100%;
  max-width: 600px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1200ms ease-out, transform 600ms ease-out,
    visibility 1200ms ease-out;
  will-change: opacity, transform, visibility;
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: none !important;
  visibility: visible;
}

.fade-in-section:nth-of-type(4n+0) {
  transform: translateX(10vw);
}

.fade-in-section:nth-of-type(4n+2) {
  transform: translateX(-10vw);
}

.time-pole {
  min-height: 80px;
  width: 2px;
  background-color: #0000003a;
  border-radius: .75rem;
}

.backToPortfolioLink {
  color: $mainDarkGreen;
  text-decoration: none;
  position: fixed;
  top: 30px;
  left: 5%;
  z-index: 50;
}

@media (min-width: 767px) {
  .portfolio {
    padding: 0 60px;
  }

  .project__img-container {
    height: 335px;
    width: 600px;
  }

  .project__img-frame--mobile {
    height: 225px;
    width: 130px;
    right: 5%;
  }
}

@media (min-width: 1023px) {
  .portfolio_header {
    width: 50%;
  }

  .project-box__header {
    font-size: 2.5rem;
  }

  .fade-in-section {
    width: 65%;
  }
  
  .fade-in-section:nth-of-type(4n+0) {
    padding-left: 35%;
    transform: translateX(30vw);
  }

  .fade-in-section:nth-of-type(4n+0) > .portfolio_box_header {
    text-align: right;
  }

  .fade-in-section:nth-of-type(4n+2) {
    padding-right: 35%;
    transform: translateX(-30vw);
  }

  .fade-in-section:nth-of-type(4n+2) > .portfolio_box_header {
    text-align: left;
  }
}

@media (max-height: 500px) {
  .project__img-container {
    min-height: 350px;
  }
}