.Todo {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #effffa;
  width: 100%;
  min-height: 100vh;
}

@media (min-width: 601px) {
  .Todo {
    padding-top: 7%;
  }

  .toDoForm {
    margin: 8em 0 2em 0;
  }

  .cardsList {
    width: 50%;
    border-radius: 5px;
    padding: 0 5% 5% 5%;
    margin: 1em 0 6em 0;
  }
}

@media (max-width: 600px) {
  .toDoForm {
    position: fixed;
    top: 70px;
  }

  .toDoForm form {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .toDoForm input {
    margin: 5% 0;
    width: 80%;
  }

  .toDoForm .formButton {
    margin: 20px 0 0 0;
    border-radius: 50%;
  }

  .textField h2 {
    margin: 0;
    font-size: 1.5em;
  }

  .textField p {
    font-size: 1em;
  }

  .cardsList {
    position: relative;
    padding: 5% 10%;
    padding-bottom: 20vh;
    margin: 0;
    flex: 1;
    top: 300px;
    box-shadow: 0 0 10px #a3a3a3;
  }

  .cardsList input[type="checkbox"] {
    height: 15px;
    width: 15px;
    margin: 0 25px 0 0;
  }

  .checkedtrue span {
    margin: 0;
    font-size: 20px;
  }

  .cardsList button {
    margin: 0;
    font-size: 15px;
  }
}

.cardsList .header  {
  font-size: 3em;
  font-weight: 100;
  margin: 50px 0;
  color: #00754e;
}

.toDoForm {
  width: 80%;
  max-width: 600px;
}
.toDoForm form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.toDoForm input {
  height: 3em;
  padding: 0 1%;
  background-color: transparent;
  border: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  min-width: 35%;
  border-bottom: solid 1px #00754e;
}

.toDoForm input:focus {
  outline: none;
}

.toDoForm .formButton {
  color: #00754e;
  background-color: #effffa;
  border: none;
  cursor: pointer;
  font-size: 2em;
}

.deleteButton {
  position: absolute;
  right: 0;
}

.cardsList {
  color: #00754e;
  background-color: #67ffcc;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 250px;
  max-width: 600px;
  min-height: 20em;
}

.cardsList ol {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  list-style: none;
}

.cardsList li {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  border-radius: 5px;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  cursor: pointer;
}

.textField {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  pointer-events: none;
}

.textField h2,
.textField p {
  margin: 2.5% 0;
}

.cardsList button {
  border: none;
  padding: 0;
  margin: 0 10px;
  font-size: 30px;
  background: transparent;
  color: rgb(138, 138, 138);
  cursor: pointer;
}

.cardsList input[type="checkbox"] {
  -webkit-appearance: none;
  min-height: 25px;
  min-width: 25px;
  margin: 0;
  margin-right: 5%;
  border-radius: 50%;
  border: none;
  pointer-events: none;
}

.checkedfalse input[type="checkbox"] {
  background-color: #00c28162;
}

.checkedfalse span {
  display: none;
}

.checkedtrue input[type="checkbox"] {
  background-color: #67ffcc;
}

.checkedtrue span {
  position: absolute;
  font-size: 20px;
  font-weight: 100;
  margin: 0 5px;
  pointer-events: none;
}

.checkedfalse {
  order: 0;
  background-color: #ffffff98;
}

.checkedtrue {
  order: 10;
  background-color: #ffffff5b;
}

.checkedtrue h2 {
  text-decoration: line-through;
}
