.externalLinksContainer {
  position: fixed;
  display: flex;
  justify-content: space-between;
  z-index: 160;
}

.externalLinksContainer a img {
  margin: 0;
  opacity: .7;
}

.externalLinksBlob {
  position: absolute;
}

.social-media__inset-bubble {
  position: absolute;
  background-image: linear-gradient(to left, #ffffff, #ffffff56);
  backdrop-filter: blur(1rem);
  border-radius: 50%;
  width: 290px;
  height: 250px;
  top: -150px;
  right: -90px;
  box-shadow: 0 0 10px #4d4d4d31;
}

@media (min-width: 1001px) {
  .externalLinksContainer {
    width: 120px;
    top: 40px;
    right: 40px;
  }

  .externalLinksContainer a img {
    width: 40px;
  }

  .externalLinksContainer a img:hover {
    opacity: 1;
  }

  .externalLinksBlob {
    width: 600px;
    top: -365px;
    left: -180px;
    transform: rotate(260deg);
    z-index: -1;
  }
}

@media (max-width: 1000px) {
  .externalLinksContainer {
    width: 80px;
    z-index: 50;
    display: flex;
    justify-content: space-between;
    top: 15px;
    left: 15px;
    opacity: 1;
  }

  .externalLinksContainer a {
    margin-right: 3%;
  }

  .externalLinksContainer a img {
    width: 30px;
  }

  .social-media__inset-bubble {
    width: 210px;
    height: 190px;
    top: -120px;
    left: -80px;
  }

  .externalLinksBlob {
    width: 600px;
    top: -440px;
    left: -320px;
    transform: rotate(140deg);
  }
}
