@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.social-media__container {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 80px;
  top: 15px;
  left: 15px;
  opacity: 1;
  z-index: 160;
}

.social-media__container a {
  margin-right: 3%;
}

.social-media__container a img {
  width: 30px;
  margin: 0;
  opacity: .7;
}

.social-media__blob {
  position: absolute;
  background-image: linear-gradient(to left top, #ffffff, #ffffffab);
  box-shadow: 0 0 3px #0000000e;
  transition: 1s;
  border-radius: 50%;
  width: 210px;
  height: 190px;
  top: -120px;
  left: -80px;
  opacity: 1;
}

.social-media__container a {
  transition: 1s;
}

@media (min-width: 1001px) {
  .social-media__container {
    width: 120px;
    top: 33px;
    left: auto;
    right: 40px;
  }

  .social-media__blob {
    width: 290px;
    height: 250px;
    top: -160px;
    left: auto;
    right: -100px;
    opacity: 0;
  }

  .social-media__container a img {
    transition: .3s;
    width: 40px;
  }

  .social-media__container a img:hover {
    opacity: .9;
    transform: scale(1.2)
  }
}

