.guestBookContainer {
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #3b5249;
  background: linear-gradient(#fcdfa6, #a8ffdf 40%);
}

.guestBook {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 1200px;
  margin-top: 50px;
  justify-content: space-evenly;
  align-items: center;
}

.guestBook h1 {
  text-align: center;
  padding: 0 10%;
}

.guestBook input,
.guestBook textarea,
.guestBook button {
  outline: none;
}

.guestBookForm {
  width: 50%;
  padding: 3%;
  margin-left: 5%;
  max-width: 450px;
  max-height: 462px;
  border-radius: 2px;
  background-color: #ffffff67;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px #c5c5c5;
}

.guestBookForm label {
  width: 65%;
  text-align: left;
  margin-top: 5%;
}

.guestBookForm input,
.guestBookForm textarea,
.guestBookForm button {
  border: none;
  border-radius: 2px;
  padding: 5px 15px;
  width: 60%;
  max-width: 60%;
  margin: 10px 0;
  box-shadow: 0 0 5px #c5c5c5;
}

.guestBook textarea {
  padding-top: 10px;
  -webkit-user-drag: none;
}

#nameInput {
  max-height: 30px;
  height: 30px;
}

#messageInput {
  height: 100px;
  max-height: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#sendMessage {
  background-color: #3b5249;
  color: white;
  font-size: 16px;
  margin-top: 10%;
  padding: 2% 0;
}

.guestBook .messages {
  padding-right: 5%;
  padding-left: 2.5%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation-name: messages;
  animation-duration: 2s;
  transition: 2s;
  overflow-y: scroll;
  overflow-x: hidden;
}

@keyframes messages {
  from {
    opacity: 0;
    margin-left: 10%;
  }
  to {
    opacity: 1;
  }
}

.guestBook .messages ul {
  margin-top: 0;
  padding-top: 0;
}

.guestBook .messages li {
  list-style: none;
  margin-bottom: 40px;
  animation-name: messagesLi;
  animation-duration: 1s;
}

@keyframes messagesLi {
  from {
    opacity: 0;
    margin-left: 10%;
  }
  to {
    opacity: 1;
  }
}

.guestBook .messages li h2 {
  margin-top: 0;
  margin-bottom: 5px;
}